.App {
    text-align: center;
    background-color: #fff;
}

main {
    padding: 0 10% 50px;
    display: flex;
    flex-wrap: wrap;
}

header{
    padding-top: 50px;
}

.logo{
    width: 150px;
    height: 150px;
}